jit
generated
*.o
*.*~
*.xcodeproj
out/
*.swp
*.exe
*.dll
*.so
*.lib
*.a
*.db

/build
/out
/default
# various stuff that VC++ produces/uses
Debug/
Release/
*.sln
*.suo
*.vcproj
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
UpgradeLog*.XML
_UpgradeReport_Files/
ipch/
*.sdf
*.opensdf
*.orig
tools/gyp
run_test.bat
test_mail.bat
data
test_sms.bat
delayed_job.pid
*.pid